<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
  
      </ion-buttons>
      <ion-title>
        Acerca De
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card class="welcome-card">
      <ion-img src="/assets/LOGO.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">Integrantes</ion-card-subtitle>
  
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <p>Carlos Riquelme</p>
        <p>Victor Silva</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  